<h1>New Article</h1>
<%= form_for :article, url: articles_path  do |k| %>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	<p>
		<%= k.label :title %><br>
		<%= k.text_field :title %>
	</p>
	<p>
		<%= k.label :text %><br>
		<%= k.text_area :text %>
	</p>
	<p>
		<%= k.submit %>
	</p>
<% end %>
<%= link_to 'Back', articles_path %>